<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>
</head>
<body>
    <div class="plReleCom"style="height: 600px;width: 500px;"></div>
    <script>
        var plReCom=[[plReCom|safe]]
        var plReSum=[[plReSum|safe]]
        
        var myCharts = echarts.init(document.querySelector('.plReleCom'))
        var option={
            title:{
                text:'热点新闻及其评论',
                top:'top',
                left:'center'
            },
            // legend:[{
            //     formatter:function(name){
            //         console.log(name);
            //     },
            //     tooltip:{
            //         show:true,
            //         bottom:10,
            //         data:[plReCom[0],plReCom[4],plReCom[8],plReCom[12],plReCom[16]]
            //     }
            // }],
            roam:true,
            label:{
                show:true,
                position:'top'
            },
            lineStyle:{
                color:'source',
                type:'solid'
            },
            animationDuration: 3000,
            animationEasingUpdate: 'quinticInOut',
            series:[{
                name:'评论热点',
                type:'graph',
                layout:'force',
                top:'0%',
                force:{
                    repulsion:70
                },
                data:[{
                    name:'评论热点',
                    symbolSize:25,
                    draggable:true,
                    value:17,
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[0],
                    symbolSize:17,
                    draggable:true,
                    value:3,
                    category:plReCom[0],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[1],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[0],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[2],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[0],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[3],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[0],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[4],
                    symbolSize:17,
                    draggable:true,
                    value:3,
                    category:plReCom[4],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[5],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[4],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[6],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[4],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[7],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[4],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[8],
                    symbolSize:17,
                    draggable:true,
                    value:3,
                    category:plReCom[8],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[9],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[8],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[10],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[8],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[11],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[8],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[12],
                    symbolSize:17,
                    draggable:true,
                    value:3,
                    category:plReCom[12],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[13],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[12],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[14],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[12],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[15],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[12],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[16],
                    symbolSize:17,
                    draggable:true,
                    value:3,
                    category:plReCom[16],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[17],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[16],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[18],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[16],
                    label:{
                        show:true,
                        fontSize:8
                    }
                },{
                    name:plReCom[19],
                    symbolSize:9,
                    draggable:true,
                    value:1,
                    category:plReCom[16],
                    label:{
                        show:true,
                        fontSize:8
                    }
                }],
                links:[{
                source:'评论热点',
                target:plReCom[0]
            },{
                source:'评论热点',
                target:plReCom[4]
            },{
                source:'评论热点',
                target:plReCom[8]
            },{
                source:'评论热点',
                target:plReCom[12]
            },{
                source:'评论热点',
                target:plReCom[16]
            },{
                source:plReCom[0],
                target:plReCom[1]
            },{
                source:plReCom[0],
                target:plReCom[2]
            },{
                source:plReCom[0],
                target:plReCom[3]
            },{
                source:plReCom[4],
                target:plReCom[5]
            },{
                source:plReCom[4],
                target:plReCom[6]
            },{
                source:plReCom[4],
                target:plReCom[7]
            },{
                source:plReCom[8],
                target:plReCom[9]
            },{
                source:plReCom[8],
                target:plReCom[10]
            },{
                source:plReCom[8],
                target:plReCom[11]
            },{
                source:plReCom[12],
                target:plReCom[13]
            },{
                source:plReCom[12],
                target:plReCom[14]
            },{
                source:plReCom[12],
                target:plReCom[15]
            },{
                source:plReCom[16],
                target:plReCom[17]
            },{
                source:plReCom[16],
                target:plReCom[18]
            },{
                source:plReCom[16],
                target:plReCom[19]
            }],
            categories:[{
                name:plReCom[0]
            },{
                name:plReCom[4]
            },{
                name:plReCom[8]
            },{
                name:plReCom[12]
            },{
                name:plReCom[16]
            }]
        }],
            
        }
        myCharts.setOption(option)
    </script>
    
</body>
</html>